[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sushiduli
[access "refs/for/refs/*"]
	read = group user/sushiduli
	push = group user/sushiduli
	label-Code-Review = -2..+2 group user/sushiduli
	label-Verified = -1..+1 group user/sushiduli
	rebase = group user/sushiduli
	removeReviewer = group user/sushiduli
	submit = group user/sushiduli
[access "refs/heads/*"]
	read = group user/sushiduli
	create = group user/sushiduli
	push = +force group user/sushiduli
	pushMerge = group user/sushiduli
[access "refs/tags/*"]
	push = group user/sushiduli
	push = +force group user/sushiduli
